.accordion-button:not(.collapsed) {
  background-color: rgba(247, 48, 48, 0.7) !important;
  color: white !important;
}
.accordion-button:not(.collapsed):focus,
button:focus:not(:focus-visible) {
  box-shadow: none;
}
#projectbox {
  /* display: flex; */
  justify-content: space-around;
}
.project-imgs {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.accordion-button {
  font-weight: 500;
  font-size: 22px;
}
#projectdetails {
  padding: 15px;
}
#addressdetails {
  display: flex !important;
  justify-content: left;
}
.addresses {
  width: 300px;
  position: relative;
  height: 200px;
  border: 2px solid black;
  padding: 20px;
  overflow: hidden;
  margin: 10px 15px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.addresses h5,
.addresses p {
  z-index: 2 !important;
}
.activeadd {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(255, 46, 46, 0.97);
  -moz-box-shadow: 0px 0px 5px 2px rgba(255, 46, 46, 0.97);
  box-shadow: 0px 0px 5px 2px rgba(255, 46, 46, 0.97);
}

#addressimg {
  position: absolute;
  top: 30%;
  right: -10%;
  opacity: 0.5;
  /* z-index:  !important; */
  width: 70%;
}
#Addnewaddress {
  border: 2px dotted grey;
  font-size: 20px;
  color: grey;

  display: grid;
  place-items: center;
  text-align: center;
}
#resend {
  cursor: pointer;
}
#sessionNo {
  padding: 12px 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  font-stretch: 800px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#OTP {
  text-align: center;
}
#timer {
  color: black;
}
.accordion-button {
  font-size: 20px !important;
}
fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-left: 100px !important;
}
fieldset > div {
  width: 70%;
}
fieldset label {
  font-weight: 800;
}

.orderdet {
  display: flex;
}
.orderdet > div:nth-child(1) {
  width: 60%;
  /* height: 250px; */
}
.orderdet > div:nth-child(2) {
  width: 37%;
  /* height: 250px; */
}
#checkoutsection {
  width: 100%;
}

#paynow {
  width: 18.6%;
}
#continue,
#editdetail {
  width: 100%;
}
#contbuttons {
  width: 100%;
}
/* div,
section {
  border: 1px solid black;
} */
/*? <!----------------------------------------------- < Checkout > -----------------------------------------------> */
.checkoutsection {
  width: 30%;
  padding: 10px 40px;
}
.checkoutsection > *,
#offersub {
  box-shadow: none !important;
}
.checkout-subs {
  margin: 4px;

  padding: 10px;
  height: auto;
}
#pincode {
  margin: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 0px;
  background-color: rgb(243, 240, 241);
}
#checkbutton {
  cursor: pointer;
  background-color: #ff3c27;
  border-radius: 4px;
  border: 0px;
  color: white;
  font-size: 17px;
}
#delievery-input,
#checkbutton {
  padding: 7px 10px;
}
#delievery-input {
  width: 50% !important;
}
#offersub {
  padding: 5px;
  display: flex;
  justify-content: left;
}
#offerimg {
  width: 100px;
  margin: 10px;
}
.totals {
  font-size: 17px;
  font-weight: bold;
}
#totals > div {
  display: flex;
  justify-content: space-between;
}
.Total {
  font-size: 21px;
}
#Checkout {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  color: white;
  border: 0px;
  border-radius: 2px;
  background-color: #ef402c;
  font-size: 20px;
  font-weight: bold;
}
#Checkout:hover {
  background-color: rgb(255, 0, 0);
}
/*? <!----------------------------------------------- < Extras > -----------------------------------------------> */
.showproducts {
  width: 100% !important;
}
.product-card {
  width: 100% !important;
  box-shadow: none !important;
  border: 0px !important;
  border-right: 1px solid rgb(201, 197, 197) !important;
  margin: 0px !important;
  min-height: 100px !important;
  padding: 0px !important;
}
.product-card > div:nth-child(1) {
  padding: 1px !important;
}
.product-card > div > img {
  width: 100px !important;
}
#otpalert {
  background-color: rgb(245, 138, 31);
  font-weight: 700;
  color: white;
  position: fixed;
  padding: 10px 20px;
  z-index: 100;
  top: 3px;
  left: 45%;
  display: none;
  height: 0px;
  transition: height 0.3s;
}
