#signuphead {
  font-weight: 600;
}
#MainDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}
#signupimage {
  width: 53%;
  padding: 0px 20px;
}
.form {
  background-color: white;
  width: 30%;
  padding: 20px 50px;
  border: 1px dotted rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
form label {
  margin-top: 5px;
}

form input,
form select {
  border-bottom: 1px solid transparent;
  width: 100%;
  padding: 7px 10px;
  border: none;
  background-color: rgb(250, 245, 245);
}
form input:focus,
form select:focus {
  outline: none;
  background-color: rgb(246, 215, 215);
  border-bottom: 1px solid red;
}

input[type="submit"] {
  background-color: rgb(59, 58, 58);
  color: white;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 600;
  transition: all 200ms ease;
}
input[type="submit"]:hover {
  background-color: rgb(254, 62, 62);
}
